Repository KorenEzri/Koren-BenEzri-19.09.2021, changes with the labels that .github/labeler.yml gives for each.
All labels: utils, types, components, pages, network, store, styles, package, workflows, tests

fix github workflow
  weather/.gitignore
  weather/src/key.ts
Labels: none

Update key.ts
  weather/src/key.ts
Labels: none

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Update package.json
  weather/package.json
Labels: package

add gh-pages devdependency
  weather/package-lock.json
  weather/package.json
Labels: package

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/2.e6924ae7.chunk.css
  static/js/10.50057701.chunk.js
  static/js/11.b433bcb0.chunk.js
  static/js/12.78bfc8c7.chunk.js
  static/js/13.08461d90.chunk.js
  static/js/14.31169a11.chunk.js
  static/js/15.51b8269a.chunk.js
  static/js/16.cf064562.chunk.js
  static/js/17.a891ac98.chunk.js
  static/js/18.2d576cdc.chunk.js
  static/js/2.08c53e3e.chunk.js
  static/js/2.08c53e3e.chunk.js.LICENSE.txt
  static/js/3.61e2e06a.chunk.js
  static/js/4.2a09b31e.chunk.js
  static/js/5.51492822.chunk.js
  static/js/6.b4a31f32.chunk.js
  static/js/7.10e9aed1.chunk.js
  static/js/8.c6449a43.chunk.js
  static/js/9.a81de25e.chunk.js
  static/js/main.67943afa.chunk.js
  static/js/runtime-main.2cf8ec09.js
Labels: none

Updates
  asset-manifest.json
  index.html
  static/js/2.08c53e3e.chunk.js
  static/js/2.84c33236.chunk.js
  static/js/2.84c33236.chunk.js.LICENSE.txt
  static/js/main.13ac9b73.chunk.js
Labels: none

Updates
  asset-manifest.json
  index.html
  static/js/10.50057701.chunk.js
  static/js/10.f33d89ce.chunk.js
  static/js/11.2ba4103c.chunk.js
  static/js/11.b433bcb0.chunk.js
  static/js/12.78bfc8c7.chunk.js
  static/js/12.dbbd4f1a.chunk.js
  static/js/13.08461d90.chunk.js
  static/js/13.d66881b4.chunk.js
  static/js/14.1525939f.chunk.js
  static/js/14.31169a11.chunk.js
  static/js/15.51b8269a.chunk.js
  static/js/15.821ebbd3.chunk.js
  static/js/16.1c990b6a.chunk.js
  static/js/16.cf064562.chunk.js
  static/js/17.55f31d65.chunk.js
  static/js/17.a891ac98.chunk.js
  static/js/2.84c33236.chunk.js
  static/js/2.a9f2113b.chunk.js
  static/js/2.a9f2113b.chunk.js.LICENSE.txt
  static/js/3.53c63c5c.chunk.js
  static/js/3.61e2e06a.chunk.js
  static/js/5.51492822.chunk.js
  static/js/5.7cf011b2.chunk.js
  static/js/6.68e3f81f.chunk.js
  static/js/6.b4a31f32.chunk.js
  static/js/7.0a979a1e.chunk.js
  static/js/7.10e9aed1.chunk.js
  static/js/8.b2420626.chunk.js
  static/js/8.c6449a43.chunk.js
  static/js/9.44c33eea.chunk.js
  static/js/9.a81de25e.chunk.js
  static/js/main.13ac9b73.chunk.js
  static/js/main.7ff6abb7.chunk.js
  static/js/runtime-main.114c4134.js
  static/js/runtime-main.2cf8ec09.js
Labels: none

Updates
  asset-manifest.json
  index.html
  static/js/main.5537c0eb.chunk.js
  static/js/main.7ff6abb7.chunk.js
Labels: none

Updates
  asset-manifest.json
  index.html
  static/js/2.2c0118b6.chunk.js
  static/js/2.2c0118b6.chunk.js.LICENSE.txt
  static/js/2.a9f2113b.chunk.js
  static/js/main.5537c0eb.chunk.js
  static/js/main.daa3dba8.chunk.js
  static/js/runtime-main.114c4134.js
  static/js/runtime-main.b64c11c6.js
Labels: none

fix gh-pages upload
  .github/workflows/cicd.yml
  weather/package.json
  weather/src/app/index.tsx
  weather/src/app/pages/HomePage/index.tsx
Labels: pages, package

feat(weather page): finish the design of the forecast and current conditions part of the page
  weather/package-lock.json
  weather/package.json
  weather/src/app/components/ConditionBoxes/Clock/Loadable.ts
  weather/src/app/components/ConditionBoxes/Clock/__tests__/index.test.tsx
  weather/src/app/components/ConditionBoxes/Clock/index.tsx
  weather/src/app/components/ConditionBoxes/Gauge/Loadable.ts
  weather/src/app/components/ConditionBoxes/Gauge/__tests__/index.test.tsx
  weather/src/app/components/ConditionBoxes/Gauge/index.tsx
  weather/src/app/components/ConditionBoxes/Humidity/Loadable.ts
  weather/src/app/components/ConditionBoxes/Humidity/__tests__/index.test.tsx
  weather/src/app/components/ConditionBoxes/Humidity/humid.png
  weather/src/app/components/ConditionBoxes/Humidity/index.tsx
  weather/src/app/components/ConditionBoxes/Visibility/Loadable.ts
  weather/src/app/components/ConditionBoxes/Visibility/__tests__/index.test.tsx
  weather/src/app/components/ConditionBoxes/Visibility/index.tsx
  weather/src/app/components/ConditionBoxes/WindSpeed/Loadable.ts
  weather/src/app/components/ConditionBoxes/WindSpeed/__tests__/index.test.tsx
  weather/src/app/components/ConditionBoxes/WindSpeed/index.tsx
  weather/src/app/components/ConditionBoxes/WindSpeed/wind-speed.png
  weather/src/app/components/ConditionBoxes/WindSpeedDirection/Loadable.ts
  weather/src/app/components/ConditionBoxes/WindSpeedDirection/__tests__/index.test.tsx
  weather/src/app/components/ConditionBoxes/WindSpeedDirection/index.tsx
  weather/src/app/components/ConditionBoxes/index.ts
  weather/src/app/components/Gauge/index.tsx
  weather/src/app/components/WeatherDetails/CurrentWeather/ConditionsList/index.tsx
  weather/src/app/components/WeatherDetails/FiveDayForecast/ForecastDayList/ForecastDay/index.tsx
  weather/src/app/components/WeatherDetails/FiveDayForecast/ForecastDayList/index.tsx
  weather/src/app/components/index.ts
Labels: components, package

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

feat: create the "favorites" page
  todo.md
  weather/src/app/__tests__/__snapshots__/index.test.tsx.snap
  weather/src/app/components/AddToFavorites/index.tsx
  weather/src/app/components/FavoritesList/FavoriteListItem/index.tsx
  weather/src/app/components/FavoritesList/index.tsx
  weather/src/app/components/Header/Navbar/index.tsx
  weather/src/app/components/Header/index.tsx
  weather/src/app/components/SearchBar/SearchResultList/SearchResult/index.tsx
  weather/src/app/components/SearchBar/SearchResultList/index.tsx
  weather/src/app/components/SearchBar/index.tsx
  weather/src/app/components/WeatherDetails/FiveDayForecast/ForecastDayList/index.tsx
  weather/src/app/components/WeatherDetails/WeatherBasics/index.tsx
  weather/src/app/components/WeatherDetails/index.tsx
  weather/src/app/index.tsx
  weather/src/app/pages/Favorites/index.tsx
  weather/src/app/pages/HomePage/index.tsx
  weather/src/types/weather.ts
  weather/src/utils/consts.ts
  weather/src/utils/mocks.ts
Labels: utils, types, components, pages

feat: asd
  weather/src/app/components/AddToFavorites/index.tsx
  weather/src/app/components/Header/Navbar/index.tsx
  weather/src/app/components/Header/index.tsx
  weather/src/app/components/SearchBar/index.tsx
  weather/src/app/components/WeatherDetails/WeatherBasics/index.tsx
  weather/src/app/components/WeatherDetails/index.tsx
Labels: components

Updates
  asset-manifest.json
  index.html
  static/js/0.d7803664.chunk.js
  static/js/0.f325564c.chunk.js
  static/js/15.39ef8523.chunk.js
  static/js/15.ab7c485e.chunk.js
  static/js/16.aca8a4c6.chunk.js
  static/js/16.e0124821.chunk.js
  static/js/17.5eb4407e.chunk.js
  static/js/17.d52f2fc2.chunk.js
  static/js/26.2d0e7f6b.chunk.js
  static/js/26.b8097c87.chunk.js
  static/js/29.0c552833.chunk.js
  static/js/29.d0c23d7b.chunk.js
  static/js/4.0931c2d9.chunk.js
  static/js/4.6b0f4daa.chunk.js
  static/js/4.6b0f4daa.chunk.js.LICENSE.txt
  static/js/5.29c57197.chunk.js
  static/js/5.bfa8548f.chunk.js
  static/js/6.1ec70f08.chunk.js
  static/js/6.efda0dac.chunk.js
  static/js/7.02b4e2aa.chunk.js
  static/js/7.af6b937b.chunk.js
  static/js/main.89473ae9.chunk.js
  static/js/runtime-main.42b4d8b7.js
  static/js/runtime-main.6f1decda.js
Labels: none

feat: use mock instead of AcuuWeather if they block us
  weather/package-lock.json
  weather/package.json
  weather/src/app/components/AddToFavorites/index.tsx
  weather/src/app/components/FavoritesList/FavoriteListItem/index.tsx
  weather/src/app/components/FavoritesList/index.tsx
  weather/src/app/components/WeatherDetails/index.tsx
  weather/src/app/components/favoritesSlice/index.ts
  weather/src/app/components/favoritesSlice/types.ts
Labels: components, package

.github/labeler.yml:

utils:
  - weather/src/utils/**/*
types:
  - weather/src/types/**/*
components:
  - weather/src/app/components/**/*
pages:
  - weather/src/app/pages/**/*
network:
  - weather/src/network/**/*
store:
  - weather/src/store/**/*
styles:
  - weather/src/styles/**/*
package:
  - weather/package.json
workflows:
  - weather/.github/workflows/**/*
tests:
  - __tests__/**/*
